.header {
margin: 15px;
}

.footer {
  bottom: 0;
  position: fixed
}

.btn-primary {
  height: 40px;
  width: 200px;
  margin-bottom: 10px;
}

.button-home {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
