.container {
  margin: 20px;
}

.footer {
  bottom: 0;
  position: fixed
}

.botton-product {
  height: 40px;
  width: 200px;
  margin-bottom: 10px;
}

.button-home {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.container mat-divider {
  margin: 0;
}
