<!DOCTYPE html>
<html lang="pt">
<div class="container">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Product</title>
</head>
<body>
    <form action="/submit-form" method="POST">
        <h1>Cadastro de Produto</h1>

        <div class="form-dados">
          <div>
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" class="form-control" required>
          </div>

          <div>
            <label for="sobreNome">Sobrenome:</label>
            <input type="text" id="sobreNome" name="sobreNome" class="form-control" required>
          </div>
        </div>
        <div class="botao-salvar">
          <button mat-flat-button color="primary">Salvar</button>
          <button mat-flat-button color="primary" (click)="callBack()">Voltar</button>
        </div>
       </form>
</body>
</div>
</html>
